/*--------------------------------------------------------------
# bootstrap icon
--------------------------------------------------------------*/
.icon {
    background-color: #fff;
    border-radius: 0.25rem;
    text-align: center;
    color: #012970;
    padding: 15px 0;
    display: flex;
    align-items: flex-end;
}
.icon i {
    margin: 0.25rem;
    font-size: 1.5rem;
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
    margin-bottom: 10px;
}

.pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumb {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
}

.breadcrumb a {
    color: #899bbd;
    transition: 0.3s;
}

.breadcrumb a:hover {
    color: #51678f;
}

.breadcrumb .breadcrumb-item:first-child::before {
    color: #899bbd;
    content: "";
}

.breadcrumb .breadcrumb-item::before {
    color: #899bbd;
    content: ">";
}

.breadcrumb .active {
    color: #51678f;
    font-weight: 600;
}

/*--------------------------------------------------------------
# search-box
--------------------------------------------------------------*/
.search-box {
    text-align: center;
    border: 1px solid #012970;
    border-radius: 2.5em;
    padding: 20px;
    background: #e5e9f066;
}

.search-box-title {
    text-align: left;
    color: #012970;
    font-weight: 600;
    font-size: 12px;
    font-family: "Nunito", sans-serif;
}
.search-box-body{

}
.form-btn-set {
    margin-top: 25px !important;
}
.form-btn-set button{
    padding: 0.375rem 1.25rem; !important;
}

/*--------------------------------------------------------------
# menu-tree
--------------------------------------------------------------*/
.menu-tree-wrap{
    display: flex;
}

.menu-card{
    max-height: 600px;
    overflow: scroll; !important;
}

/*--------------------------------------------------------------
# footer-white-space
--------------------------------------------------------------*/

.footer-white-space-10{
    padding: 10px;
}

.footer-white-space-20{
    padding: 20px;
}

.footer-white-space-30{
    padding: 30px;
}

.footer-white-space-40{
    padding: 40px;
}

.footer-white-space-50{
    padding: 50px;
}

/*--------------------------------------------------------------
# table
--------------------------------------------------------------*/

.table-title{
    text-align: center;
    vertical-align: middle;
}

/*--------------------------------------------------------------
# hashtag
--------------------------------------------------------------*/
.hashtag-item{
    background-color: #E5E5E5;
    padding: 5px 20px;
}